*{
    padding: 0;
    margin: 0;
    font-family: Poppins-Bold;
    font-weight: 600;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    /* height: 100vh; */
    background-color: black;
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }